#topnavbar-control {
    display: none;
}

#topnavbar-control + .topnavbar-control-label {
    border-radius: 0;
    margin: 0.5rem 0.5rem 0.5rem auto;
}

#topnavbar-control + .topnavbar-control-label .topnavbar-control-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#topnavbar-control:checked ~ .topnavbar-control-label {
    border-color: rgba(255, 255, 255, 1);
}

#topnavbar-control:checked ~ .topnavbar-control-label .topnavbar-control-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#topnavbar-control:checked ~ .topnavbar-menu-container {
    display: block;
    text-align: center;
    padding-right: 0;
}

.topnavbar-menu-container .nav-link-active {
    border: rgba(255, 255, 255, 1) 1px solid;
    color: rgba(255, 255, 255, 1);
}




